body {  width: 990px; margin: 0 auto; background-color: #FFFFFF;}
header { min-height: 50px; padding: 10px 0; background-color: #EDEDED;}
footer { min-height: 50px; padding: 10px 0; background-color: #ACACAC;}
